<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="/CSS/style.css" />
  </head>
  <body>
    <div class="container main-page">
      <div class="row">
        <div class="col main-table">
          <table>
            <tr>
              <th>Sr. No</th>
              <th>Project Title</th>
              <th>View</th>
            </tr>

            <tr>
              <td>1</td>
              <td>Dynamic Table</td>
              <td><a href="/api/user/dynamic_table">Click Here</a></td>
            </tr>

            <tr>
              <td>2</td>
              <td>Kuku Cube</td>
              <td><a href="/api/user/kuku_cube">Click Here</a></td>
            </tr>

            <tr>
              <td>3</td>
              <td>Tic Tac Toe</td>
              <td><a href="/api/user/tic_tac_toe">Click Here</a></td>
            </tr>

            <tr>
              <td>4</td>
              <td>Paggination with Orderby</td>
              <td><a href="/api/user/pagging/orderby">Click Here</a></td>
            </tr>

            <tr>
              <td>5</td>
              <td>Student Report Grid</td>
              <td><a href="/api/user/pagging/resultgrid">Click Here</a></td>
            </tr>

            <tr>
              <td>6</td>
              <td>Paggination with All Filters</td>
              <td><a href="/api/user/pagging/allFilter">Click Here</a></td>
            </tr>

            <tr>
              <td>7</td>
              <td>Paggination with searching</td>
              <td><a href="/api/user/pagging/searching">Click Here</a></td>
            </tr>

            <tr>
              <td>8</td>
              <td>Paggination with delimeter searching</td>
              <td><a href="">Click Here</a></td>
            </tr>

            <tr>
              <td>9</td>
              <td>Frontendside Paggination</td>
              <td><a href="">Click Here</a></td>
            </tr>

            <tr>
              <td>10</td>
              <td>CRUD with Job Application Form</td>
              <td><a href="">Click Here</a></td>
            </tr>

            <tr>
              <td>11</td>
              <td>CRUD with Job Application using AJAX</td>
              <td><a href="">Click Here</a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
