<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Set Password</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>
    <div class="Wrapper">
      <div class="container">
        <div class="row">
          <div class="col thanks">
            <div class="form-wrapper">
              <form
                id="form"
                name="form"
                method="post"
                action="/api/user/activate"
                onsubmit="validatePassword()"
              >
              
              <input type="hidden" name="accesscode" value="<%=accesscode %>">

                <div class="form-handler">
                  <div class="form-label">
                    <label for="password">Password</label>
                  </div>
                  <div class="form-input">
                    <input type="password" name="password" id="password" />
                  </div>
                </div>

                <div class="form-handler">
                  <div class="form-label">
                    <label for="rpassword">Re-Enter Password</label>
                  </div>
                  <div class="form-input">
                    <input type="password" name="rpassword" id="rpassword" />
                  </div>
                </div>

                <div class="form-btn">
                  <input
                    type="submit"
                    value="submit"
                    name="submit"
                    id="submit"
                  />
                  <input type="reset" value="reset" name="reset" id="reset" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/JS/validatePassword.js"></script>

  </body>
</html>
