*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.col{
    display: none;
}

.work{
    width: 100%;
}
.form-input-handler{
   margin-top: 10px;
}

.page{
    margin-top: 20px;
    padding: 5px;
    background-color: rgb(189, 185, 185);
}

tr,td{
    margin: 10px;
    padding: 20px;
}

.btn-container{
    float: right;
    margin-top: 20px;
    margin-right: 230px;
}

.fieldbtn{
    float: right;
    margin-right: 100px;
}

#prevBtn{
    
    padding: 8px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
}

#nextBtn{
    
    padding: 8px;
    background-color: cornflowerblue;
    color: white;
    font-weight: bolder;
    border-radius: 15px;
}